// Navigation Styles here
header {
    background-color: red;  
}//closes header

nav {
    background-color: white;
    display: flex;

    .navName {
        display: flex;
        justify-content: left;
        font-family: 'Indie Flower', cursive;
        font-style: bold;
        padding: 40px 10px;
        font-size: 20px;
    }//closes .navName

    ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: space-evenly;
    }//closes ul

    li {
        text-decoration: none;
    }//closes li

    .topImg {
        width: 100%;
        height: auto;
    }//closes .topImg
}//closes nav
