// Navigation Styles here
header {
    background-color: red;

    .navName {
        display: flex;
        justify-content: left;
        font-family: 'Indie Flower', cursive;
        font-style: bold;
        padding: 40px 0;
    }
    
    ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: space-evenly;
    }

    .topImg {
        width: 100%;
        height: auto;
    }
}