// Navigation Styles here
nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;

    @media (max-width: 500px) {
        nav {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }//closes nav media query

    .navName {
        width: 50%;
        padding: 10px 0 0;

        @media (max-width: 500px){
            .navName{
                width: 90%;
                text-align: center;
            }
        }
    }

    p {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        font-family: 'Indie Flower', cursive;
        font-style: bold;
        font-size: 35px;
        //background-color: yellow;
    } 

    ul {
       display: flex;
       justify-content: space-evenly;
       align-items: center;
       align-content: center;
       margin: 1% 19% 1% 0;
    } //closes ul

    li{
        margin: 1% 5%;
        width: 100px;
        //background-color: yellow;
    }

    a {
        display: flex;
        justify-content: space-evenly;
        text-decoration: none;
        color: @shark;
        font-size: 13px;
    } //closes li
} //closes nav

.top{
    width: 100%;

    .topImg {
        width: 60%;
        height: auto;
        margin: 0 275px;
        
    }//closes .topImg
}//closes top div

.intro {
    //background-color: yellow;
    width: 60%;
    margin: 0 275px;
     

    h1 {
        font-size: 50px;
        padding: 20px 0;
    }//closes h1

    p{
        text-align: left;
    }//closes paragraph
}//closes intro div


